DEBUG=False
AISTUDIO_APIKEY=xxxx
OPENAI_API_KEY=xxxx
BALL_DONT_LIE_APIKEY=xxxx
RAG_DATA_PATH="rag-lab/data"
SQLITE_DISK_DIRECTORY = "./chroma_db"
COLLECTION_NAME = "player_stats"
MULTIPLE_SOURCES_COLLECTION_NAME = "player_stats_multiple_sources"
CHROMADB_EMBEDDINGS_MODEL = "models/gemini-embedding-001"
DB_FILE="db/genai_lab.db"